{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='container'>
  <h1>{{data.message}}</h1>
  <p>{{data.info}}</p>
  <a href='/' class='btn'>Повернутись назад</a>
</div>