{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{!-- <div class='container'>
  <h1>{{info}}</h1>
  <p>Товар успішно був видалений</p>
  <a href='/' class='btn'>Повернутись назад</a>
</div> --}}

<div class='card'>
  <div class='card__header'>
    <h2 class='card__title'>{{data.message}}</h2>
    <h3 class='card__subtitle'>{{data.info}}</h3>
  </div>
  <a
    href='{{data.link}}'
    class='card__button card__button-blue'
  >Повернутись назад</a>
</div>